*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;
}
header{
	height: 100vh;}
.clearfix{content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;

}	
.nav{


	max-width: 1180px;
	margin: 0px auto;
}	.tab {-webkit-animation-duration:2s;} 
.logo{height: 120px;
	 width: auto;
	 float: left;
	margin-top:20px;
    border-radius: 13px;
    box-shadow: 10px 10px 5px rgba(128,128,128,0.5);}
    .logo{-webkit-animation-delay:0.5s;}
.tab{float: right;
	margin-top: 60px;}	
.tab li{display: inline-block;
	    list-style: none;
	    margin-left: 40px;
	    font-family: 'Cute Font', cursive;
	    font-weight: bold;
	    font-size: 180%;
	}	
.tab li a{
	color:black;
	text-decoration: none;
	font-size:90%;
	padding: 5px 0px; 
	font-family: 'Cute Font', cursive;
}
.tab li a:hover{border-bottom: 4px solid #bf55ec;
text-shadow:10px 10px 5px rgba(128,128,128,1);}
.content{width: 1180px;
	margin-top: 0px;
	margin-left:80px;
    color: #fff;
    font-size: 200%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom:20px;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Righteous', cursive; }	
     .icon{display: none;}
     .a{border-radius: 80px;
        margin-left:0px;
        margin-top:30px;}
.b{margin-top: 0px;
   margin: 10px 10px;
   display: inline-block;}
    @media only screen and (max-width: 1180px){
   	.nav{
   		width: 100%;
   		padding: 0 2%;
   	}
   }
   .foot{
	background-color: rgba(0,0,0,0.5);
	margin-top: 5.5%;
	padding: 10px;
	text-align: bottom;
	margin-bottom:0px;
}
@media only screen and (max-width: 798px){
	.content{
		font-size:150%  
	}
	
	.icon{
		display: inline-block;
		color: #fff;
		float: right;
		margin-top: 30px;
		margin-right: 20px;
	}
	}    